<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <zipInfoData defaultProvider="mongo" enabled="true">
      <providers>
        <clear/>
        <!-- 
          The cache provider is required.
          CacheMaxSize: Max size of the zipcode cache 
          CacheObjectSize: The estiamted size of the zipcode objects placed in cache. This is estimated as 20 + the estimated total size of the properies in the poco.
          CacheName = the name to use for the custom cache.
          -->
        <add name="cache" type="ZipInfo.Providers.ZipInfoProviderCache, ZipInfo"
             cacheMaxSize="1MB"
             cacheObjectSize="200"
             cacheName="ZipInfoProviderCache"
          >
        </add>
        <!-- There must be at least one "concrete" provder. When looking up a zip, all providers will be tried in series until an answer is found-->
        <!--
          zipDataFile: The location of the data file used by the Mongo provider.
          This can be an absolute filesystem path, or the name of a file in App_Data, or the name of a file on the Data folder.
          The update package places the file in the App_Data folder.
          -->
        <add name="mongo" type="ZipInfo.Providers.ZipInfoProviderMongo, ZipInfo" 
             dataFileLocation="zipcode.csv" 
             connectionString="zipinfo" 
             collectionName="zipinfo.zipcode">
        </add>
      </providers>
    </zipInfoData>

    <zipInfoProperties defaultProvider="default" enabled="true">
      <providers>
        <clear/>
        <add name="default" type="ZipInfo.Providers.PropertyProviderMongo, ZipInfo" 
             connectionString="zipinfo" 
             collectionName="zipinfo.properties"/>
      </providers>
    </zipInfoProperties>

    
    <pipelines>

      <initialize>
        <processor type="ZipInfo.Pipelines.Initialize.InitializeMongoZipData, ZipInfo"/>
      </initialize>

      <zipCode.getMongoZip>
        <processor type="ZipInfo.Pipelines.GetMongoZip.QueryMongo, ZipInfo"/>
      </zipCode.getMongoZip>

    </pipelines>

  </sitecore>
</configuration>